<nav>
  <a href="/" class="nav-logo"><em>AURA</em>WASH</a>
  <ul class="nav-links" id="navLinks">
    <li><a href="/services">Washes</a></li>
    <li>
      <span>AURA Unlimited® ▾</span>
      <div class="dropdown">
        <a href="/memberships">Become a Member</a>
        <a href="/family-plan">Family Plan</a>
        <a href="/fleet">Fleet Accounts</a>
      </div>
    </li>
    <li>
      <span>Community ▾</span>
      <div class="dropdown">
        <a href="/impact">Our Impact</a>
        <a href="/#testimonials">Reviews</a>
      </div>
    </li>
    <li>
      <span>About ▾</span>
      <div class="dropdown">
        <a href="/about">About Us</a>
        <a href="/locations">Locations</a>
      </div>
    </li>
  </ul>
  <div class="nav-right">
    <a href="/signup" class="nav-signin">Sign In</a>
    <a href="/locations" class="nav-primary">Find Location</a>
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
